---
title: Sad Plot - Vole EEG
author: Ryan Opel
date: 2018-05-27
slug: sad-plot-1
categories: []
tags: []
---



<div id="code" class="section level2">
<h2>Code</h2>
<pre class="r"><code>library(tidyverse)
library(ggthemes)</code></pre>
<p>Generating the dataset I’m using here is a bit of doozy, but I’ve illustrated the final steps in creating it below. This code will aggregate my main dataframe <code>sleep_data</code>, which contains about 1,000,000 observations and 170 columns, and calculates the average Spectral Power per experimental condition, sleep stage (Wake (W), NREM (NR), and REM (R)), and one Hz frequency range.</p>
<pre class="r"><code>fft_data &lt;- sleep_data %&gt;%
  select(ID, Condition, EpochNo, Stage, Time, Hour, contains(&quot;Hz_&quot;)) %&gt;% 
  reshape2::melt(., id = colnames(.)[! grepl(&quot;Hz&quot;, colnames(.))]) %&gt;% 
  rename(Hz = variable, Power = value) %&gt;% 
  group_by(Condition, Stage, Hz) %&gt;% 
  summarise(Avg_Power = mean(Power)) %&gt;% 
  filter(Hz %in% paste0(&quot;Hz_&quot;, 0:60)) %&gt;% 
  mutate(Hz = as.integer(gsub(&quot;Hz_&quot;, &quot;&quot;, Hz))) %&gt;% 
  arrange(Hz) %&gt;% 
  filter(Hz &gt;= 40)
gc() ## garbage collection</code></pre>
<pre class="r"><code>ggplot(fft_data, aes(x = Hz, y = Avg_Power)) +
  geom_smooth(aes(group = Condition, color = Condition), alpha = 0.5,
              method = &quot;loess&quot;) +
  facet_grid(Stage ~ .) +
  scale_y_log10() +
  ggthemes::theme_fivethirtyeight() +
  theme(axis.title = element_text()) +
  labs(title = &quot;Fast Fourier Transformation&quot;,
       subtitle = &quot;Difference in FFT power by sleep stage and experimental condition&quot;,
       x = &quot;Frequency (Hz)&quot;,
       y = &quot;Spectral Power (log)&quot;,
       color = &quot;&quot;)</code></pre>
<p><img src="/post/2018-05-30-sad-plot-1_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
</div>
<div id="type" class="section level2">
<h2>Type</h2>
<p>This visualization is presented as a smoothed line graph.</p>
</div>
<div id="data" class="section level2">
<h2>Data</h2>
<p>My data set is derived numerous 24-hour EEG (<a href="https://en.wikipedia.org/wiki/Electroencephalography">electroencephalography</a>) recordings of prairie voles, which are often used in social bonding research. Each subject undergoes a control and experimental condition, in a pseudo-randomized order, over two successive days. After the data is evaluated at 4-second epochs for sleep stage, an <a href="https://en.wikipedia.org/wiki/Fast_Fourier_transform">FFT</a> is performed with the data in each epoch (using a Hamming window), and is then written to a text file. Thus, the data contains spectral power for each 1 Hz frequency band from 0-128 Hz, over 21,600 epochs (e.g. 24 hours / 4 seconds). Finally, the data is aggregated by sleep stage, frequency band, and experimental condition.</p>
</div>
<div id="audience" class="section level2">
<h2>Audience</h2>
<p>I am presenting this data to individuals familiar with behavioral neuroscience, prairie voles, and/or sleep physiology. The data presented is being used to validate our experimental condition, and being in one of those three camps will help to contextualize my points on the matter.</p>
</div>
<div id="what-am-i-trying-to-show" class="section level2">
<h2>What am I trying to show?</h2>
<p>Because my prior says I should be looking in the high frequency region (e.g. gamma band; approximately 40 - 60 Hz), we’re illustrating here that the experimental condition (Shaker) appears to cause a pronounced increase in gamma power, especially during NREM and REM sleep.</p>
</div>
<div id="how-to-read" class="section level2">
<h2>How to read</h2>
<p>A newbie should know that the grey bands surround the smoothed curve are an error function, and help the viewer to estimate if there is a statistically significant difference between the two measurements.</p>
</div>
<div id="presentation-tips" class="section level2">
<h2>Presentation Tips</h2>
<p>Before diving into the graph, I would ensure my audience is familiar with FFT and inform them of our prior. When presenting, I would first mention the contents of both axes, specifically mentioning in this case that Y-axis is log-scaled. I would then point to the faceting, and briefly explain the three sleep stages.</p>
<p>I would then draw attention to the area of interest, and explain that increased gamma EEG frequency is inline with our hypothesis and supported by histology data – <em>tada!</em>.</p>
</div>
<div id="variations" class="section level2">
<h2>Variations</h2>
<p>Another way to present this graph might be to use a dumbbell plot, where each 1 Hz bucket had a dumbbell. The upside to this approach is that we could better elucidate differences in individual Hz ranges, however there would be so many points on-screen that it might overload the viewer.</p>
</div>
<div id="methods" class="section level2">
<h2>Methods</h2>
<p>This graph was created by processing EEG .EDF files through R and a GUI program for both staging sleep and computing the FFT. Data was then wrangled and transformed using R.</p>
</div>
