---
title: Sad Plot - Hacky, In-Class Graph
author: Ryan Opel
date: 2018-05-30
slug: sad-plot-4
categories: []
tags: []
---

<script src="/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/rmarkdown-libs/pymjs/pym.v1.js"></script>
<script src="/rmarkdown-libs/widgetframe-binding/widgetframe.js"></script>


<div id="code" class="section level2">
<h2>Code</h2>
<pre class="r"><code>library(tidyverse)
library(ggthemes)
library(widgetframe)

moma &lt;- readr::read_csv(&quot;http://bit.ly/cs631-moma&quot;)</code></pre>
<pre class="r"><code>## Cleaned up my solution for reordering factors; now using `forcats`, allowing
## reordering in the same `mutate` call.

moma_dim &lt;- moma %&gt;%
         filter(width_cm &lt; 600, height_cm &lt; 760) %&gt;%
         mutate(size_ratio = height_cm / width_cm,
                ratio_color = factor(case_when(
                  size_ratio &gt; 1 ~ &quot;Taller than wide&quot;,
                  size_ratio == 1 ~ &quot;Perfect square&quot;,
                  size_ratio &lt; 1 ~ &quot;Wider than tall&quot;)
                  ),
                ratio_color = forcats::fct_relevel(ratio_color,
                                                   &quot;Taller than wide&quot;,
                                                   &quot;Perfect square&quot;,
                                                   &quot;Wider than tall&quot;))</code></pre>
<pre class="r"><code>size_plot &lt;- ggplot(moma_dim, aes(width_cm, height_cm, color = ratio_color,
                                  Title = title, Artist = artist,
                                  Year = year_created, Width = round(width_cm),
                                  Height = round(height_cm))) +
  geom_point(alpha=0.5) +
  scale_color_brewer(name = &quot;&quot;, palette = &quot;Paired&quot;) +
  theme_fivethirtyeight() +
  theme(axis.title = element_text()) +
  labs(title = &quot;MoMA Paintings, Tall and Wide&quot;,
       x = &quot;Width (cm)&quot;,
       y = &quot;Height (cm)&quot;)

art_plot &lt;- plotly::ggplotly(size_plot,tooltip = c(&quot;Title&quot;, &quot;Artist&quot;, &quot;Year&quot;,
                                                   &quot;Width&quot;, &quot;Height&quot;))

frameWidget(art_plot, height = &quot;500&quot;, width = &quot;700&quot;)</code></pre>
<div id="htmlwidget-1" style="width:700px;height:500px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"url":"/post/2018-05-30-sad-plot-4_files/figure-html//widgets/widget_unnamed-chunk-2.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
</div>
<div id="type" class="section level2">
<h2>Type</h2>
<p>This graph is an interactive scatter plot.</p>
</div>
<div id="data" class="section level2">
<h2>Data</h2>
<p>The data set used here comes from the New York City Museum of Modern Art (MoMA), and contains information on the museum’s art collection. Roughly 2200 paintings are covered, and information pertaining to the artist, painting title, year of creating and acquisition, means of acquisition, size, and more are present.</p>
</div>
<div id="audience" class="section level2">
<h2>Audience</h2>
<p>I am presenting this figure to individuals who are interested in museums, and likely have a history of visiting MoMA or other similar facilities. Though visualizing the proportion of tall vs. wide paintings is in itself interesting, having experience to draw upon to imagine the sheer size of the paintings discussed would help make an emotional connection with the viewer. Finally, due to the interactive nature presented, all viewers are at a computer or on a mobile device.</p>
</div>
<div id="what-am-i-trying-to-show" class="section level2">
<h2>What am I trying to show?</h2>
<p>We’re illustrating the size disparity of the paintings in MoMA’s collection. Viewers should take-away that MoMA’s collection doesn’t skew wide or tall by any significant margin, but by embedding more information in the tooltip, users may find interesting patterns that are not expressly demonstrated in the current projection.</p>
</div>
<div id="how-to-read" class="section level2">
<h2>How to read</h2>
<p>When reading, viewers should note the axes, which correspond with the direction expected (e.g. y-axis is Height). Next, the legend should be noted – while this information can be derived simply by looking at the plot, the “Square” class provides visual delineation that should help viewers. Then, viewers will surely note that anything to the right of that “Square” line is “wide”, while anything to the left is “tall”.</p>
</div>
<div id="presentation-tips" class="section level2">
<h2>Presentation Tips</h2>
<p>Before diving into the graph, I would emphasize the units of both axes, and articulate that height and width correspond to intuitive axes. I would then encourage users to select the “Turn on spike lines” in the top-right corner of the graph, which draws the size of the painting when you hover over a point!</p>
</div>
<div id="variations" class="section level2">
<h2>Variations</h2>
<p>Another way to present this graph would be to draw rectangles that correspond to the size. While this variation does allow for a more salient real-world connection, there are two important flaws: 1) smaller paintings get covered up, and granularity is lost, and 2) having an interactive plot would be near impossible with all the overlapping data.</p>
</div>
<div id="methods" class="section level2">
<h2>Methods</h2>
<p>This graph was created by using Alison’s cleaned <code>moma</code> dataset, which was then filtered and mutated to clean erroneous data. Next, after being passed to a <code>ggplot</code> call, I used <code>plotly</code> to make the graph interactive.</p>
</div>
