---
title: Sad Plot - Board Game Releases
author: Ryan Opel
date: 2018-05-28
slug: sad-plot-2
categories: []
tags: []
---



<div id="code" class="section level2">
<h2>Code</h2>
<pre class="r"><code>library(tidyverse)
library(ggthemes)</code></pre>
<pre class="r"><code>rank_year_dist &lt;- aggregate(Rank ~ Year + Top_100 + Top_1000,
                      boardgames_filter,
                      length) %&gt;%
  mutate(Ranking = factor(
    case_when(
      Top_100 ~ &quot;1 - 100&quot;,
      Top_1000 ~ &quot;101 - 1000&quot;,
      TRUE ~ &quot;1001+&quot;
      )))</code></pre>
</div>
<div id="plot" class="section level2">
<h2>Plot</h2>
<pre class="r"><code>ggplot(rank_year_dist, aes(x = Year, fill = Ranking)) +
  geom_density(alpha=0.5) +
  scale_x_continuous(breaks = seq(1950, 2018, 5)) +
  scale_fill_brewer(palette = &quot;RdYlBu&quot;) +
  theme_fivethirtyeight() +
  theme(axis.title = element_text()) +
  labs(x = &quot;Year&quot;, y = &quot;Percent of Category (Density)&quot;,
       title = &#39;Boardgame Renaissance&#39;,
       subtitle = paste(&quot;Most games in the Top 100 have been&quot;, 
                        &quot;released in recent years&quot;))</code></pre>
<p><img src="/post/2018-05-30-sad-plot-2_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
</div>
<div id="type" class="section level2">
<h2>Type</h2>
<p>This visualization is a density plot, illustrating the distribution of categories over a continuous interval.</p>
</div>
<div id="data" class="section level2">
<h2>Data</h2>
<p>This dataset comes from <a href="https://boardgamegeek.com/">BoardGameGeek</a>, and visualizes the distribution of release years for games in the Top 100, 1000, and 10000 highest-rated games on the website.</p>
</div>
<div id="audience" class="section level2">
<h2>Audience</h2>
<p>I am presenting this data to individuals familiar with modern board games, especially those who are familiar with current release trends in the hobby/industry.</p>
</div>
<div id="what-am-i-trying-to-show" class="section level2">
<h2>What am I trying to show?</h2>
<p>A lot of people interested in hobby board games (and there are many in Portland; see Guardian Games) consider the medium to be in the midst of a renaissance, ushered in by the likes of <em>Settlers of Catan</em> and similar titles. This plot illustrates that an overwhelming amount of the games in the Top 100, and Top 1,000, have been published in the last two decades, which generally confirms the “renaissance” idea.</p>
</div>
<div id="how-to-read" class="section level2">
<h2>How to read</h2>
<p>The most important thing to understand when reading this graph is that each category/curve (e.g. “1 - 100”, etc.) adds to 100%, and is thus representing proportion over time. I find it challenging to perform visual integrals, and I imagine other do too, so trying to discern raw numbers from the curve is not the goal – rather, viewers should focus on the <em>shape</em> of each distribution.</p>
</div>
<div id="presentation-tips" class="section level2">
<h2>Presentation Tips</h2>
<p>When presenting, I would establish that we’re comparing the proportion of games released by year in each of the three categories. Presenters should note that time runs on the x-axis, and then cover the three categories. Finally, note the shape of distributions to viewers – games ranked 1001+ have a relatively flat distribution, and both 101 - 1000 and 1 - 100 are positively skewed, although the latter more so. It’s also important to note that the x-axis is bounded at 1950, which excludes certain games like <strong>Chess</strong> and <strong>Go</strong>.</p>
</div>
<div id="variations" class="section level2">
<h2>Variations</h2>
<p>This data could also be visualized through a ridgeline plot, or with a stacked bar graph to indicate how many games are produced each year. While the latter would be an interesting alternative, I really wanted to focus on the distribution here.</p>
</div>
<div id="methods" class="section level2">
<h2>Methods</h2>
<p>This plot was created using <code>ggplot2</code> in R, and data was collected from the BoardGameGeek API using a Python module that I wrote.</p>
</div>
