---
title: Sad Plot - Board Game Mechanics Co-Occurrence
author: Ryan Opel
date: 2018-05-29
slug: sad-plot-3
categories: []
tags: []
---



<p>This brief contains two plots, however the former is merely to help contextualize the latter, which the write-up pertains to.</p>
<div id="code" class="section level2">
<h2>Code</h2>
<pre class="r"><code>library(tidyverse)
library(magrittr)
library(ggthemes)
library(igraph)</code></pre>
<div id="mechanics-list" class="section level3">
<h3>Mechanics List</h3>
<pre class="r"><code>mechanics &lt;- boardgames_filter[, mechanic_list] %&gt;% ## Select columns
  sapply(., function(x) as.numeric(x)) %&gt;% ## Convert to numeric
  colSums(.) %&gt;% ## Following lines are required after `sapply`
  as.data.frame(.) %&gt;%
  set_colnames(c(&quot;Freq&quot;)) %&gt;%
  mutate(Mechanic = rownames(.)) %&gt;%
  set_rownames(1:nrow(.)) %&gt;%
  select(Mechanic, Freq) %&gt;%
  arrange(-Freq) %&gt;%
  mutate(Mechanic = gsub(&quot;Mechanic_&quot;, &quot;&quot;, Mechanic)) %&gt;% ## Clean up names
  filter(Freq &gt; 1) %&gt;%
  mutate(Prop = 100 * Freq/sum(Freq),
         Mechanic_Name = gsub(&quot;[.]&quot;, &quot;-&quot;, gsub(&quot;_&quot;, &quot; &quot;,
                                     gsub(&quot;_[.]_&quot;, &quot;/&quot;, (Mechanic)))),
         Category = c(&quot;Movement&quot;, &quot;Cards&quot;, &quot;Movement&quot;, &quot;Player Interaction&quot;,
                      &quot;Cards&quot;, &quot;Map&quot;, &quot;Map&quot;, &quot;Cards&quot;, &quot;Map&quot;, &quot;Game Format&quot;,
                      &quot;Action Selection&quot;, &quot;Movement&quot;, &quot;Action Selection&quot;,
                      &quot;Auction&quot;, &quot;Movement&quot;, &quot;Player Interaction&quot;, &quot;Movement&quot;,
                      &quot;Map&quot;, &quot;Player Interaction&quot;, &quot;Map&quot;, &quot;Economics&quot;, &quot;Cards&quot;,
                      &quot;Cards&quot;, &quot;Hidden Information&quot;, &quot;Map&quot;,&quot;Hidden Information&quot;,
                      &quot;Hidden Information&quot;, &quot;Player Interaction&quot;, &quot;Movement&quot;,
                      &quot;Hidden Information&quot;, &quot;Economics&quot;, &quot;Player Interaction&quot;,
                      &quot;Action Selection&quot;, &quot;Movement&quot;, &quot;Player Interaction&quot;,
                      &quot;Economics&quot;, &quot;Action Selection&quot;, &quot;Economics&quot;, 
                      &quot;Hidden Information&quot;, &quot;Economics&quot;, &quot;Map&quot;, &quot;Acting&quot;,
                      &quot;Economics&quot;, &quot;Game Format&quot;, &quot;Acting&quot;, &quot;Map&quot;,
                      &quot;Action Selection&quot;, &quot;Economics&quot;, &quot;Map&quot;, &quot;Map&quot;,
                      &quot;Acting&quot;))</code></pre>
<table>
<thead>
<tr class="header">
<th align="left">Mechanic</th>
<th align="right">Freq</th>
<th align="right">Prop</th>
<th align="left">Mechanic_Name</th>
<th align="left">Category</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Dice_Rolling</td>
<td align="right">1820</td>
<td align="right">10.434583</td>
<td align="left">Dice Rolling</td>
<td align="left">Movement</td>
</tr>
<tr class="even">
<td align="left">Hand_Management</td>
<td align="right">1550</td>
<td align="right">8.886596</td>
<td align="left">Hand Management</td>
<td align="left">Cards</td>
</tr>
<tr class="odd">
<td align="left">Hex.and.Counter</td>
<td align="right">1013</td>
<td align="right">5.807820</td>
<td align="left">Hex-and-Counter</td>
<td align="left">Movement</td>
</tr>
<tr class="even">
<td align="left">Variable_Player_Powers</td>
<td align="right">995</td>
<td align="right">5.704621</td>
<td align="left">Variable Player Powers</td>
<td align="left">Player Interaction</td>
</tr>
<tr class="odd">
<td align="left">Set_Collection</td>
<td align="right">872</td>
<td align="right">4.999427</td>
<td align="left">Set Collection</td>
<td align="left">Cards</td>
</tr>
<tr class="even">
<td align="left">Area_Control_._Area_Influence</td>
<td align="right">700</td>
<td align="right">4.013301</td>
<td align="left">Area Control/Area Influence</td>
<td align="left">Map</td>
</tr>
</tbody>
</table>
<pre class="r"><code>ggplot(mechanics, aes(reorder(Mechanic_Name, Freq), Freq)) + 
               geom_bar(stat = &#39;identity&#39;) +
               coord_flip() +
               theme_fivethirtyeight() +
               theme(axis.title = element_text()) +
               labs(x = &quot;&quot;, y = &quot;Number of Games&quot;,
                    title = &quot;Mechanic Frequency&quot;,
                    subtitle = &quot;Number of occurrences in the top 10,000 highest-rated games&quot;)</code></pre>
<p><img src="/post/2018-05-30-sad-plot-3_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
</div>
<div id="co-occurrence-network" class="section level3">
<h3>Co-Occurrence Network</h3>
<pre class="r"><code>mech_cooccur &lt;- crossprod(boardgames_filter[, mechanic_list] %&gt;% ## Selection
            sapply(., function(x) as.numeric(x)) %&gt;% ## Convert to numbers
            set_colnames(gsub(&quot;Mechanic_&quot;, &quot;&quot;, colnames(.)))) ## Clean names
mech_cooccur[upper.tri(mech_cooccur, diag = T)] &lt;- NA ## Clean matrix</code></pre>
<table>
<thead>
<tr class="header">
<th></th>
<th align="right">Partnerships</th>
<th align="right">Commodity_Speculation</th>
<th align="right">Point_to_Point_Movement</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Partnerships</td>
<td align="right">NA</td>
<td align="right">NA</td>
<td align="right">NA</td>
</tr>
<tr class="even">
<td>Commodity_Speculation</td>
<td align="right">2</td>
<td align="right">NA</td>
<td align="right">NA</td>
</tr>
<tr class="odd">
<td>Point_to_Point_Movement</td>
<td align="right">26</td>
<td align="right">5</td>
<td align="right">NA</td>
</tr>
</tbody>
</table>
<pre class="r"><code>mech_cooccur_df &lt;- mech_cooccur %&gt;%
  reshape2::melt(., id.vars = &quot;X&quot;) %&gt;% ## `melt` works with many columns!
  dplyr::filter(value &gt; 0) %&gt;%
  rename(from = Var1, to = Var2, weight = value) %&gt;%
  left_join(., mechanics %&gt;% ## Merge categories on to `from` mechanics
              select(Mechanic, Category) %&gt;% 
              rename(from = Mechanic),
            by = &quot;from&quot;) %&gt;%
  select(-from) %&gt;% 
  rename(from = Category) %&gt;% 
  left_join(., mechanics %&gt;% ## Merge categories on to `to` mechanics
              select(Mechanic, Category) %&gt;% 
              rename(to = Mechanic),
            by = &quot;to&quot;) %&gt;% 
  select(-to) %&gt;% 
  rename(to = Category) %&gt;% 
  group_by(from, to) %&gt;% 
  mutate(weight = sum(weight)) %&gt;% 
  ungroup() %&gt;% 
  filter(!duplicated(.)) %&gt;% 
  select(from, to, weight) %&gt;% 
  arrange(from) %&gt;% 
  mutate(weight = weight / 200) ## scaling factor; size is arbitrary</code></pre>
<table>
<thead>
<tr class="header">
<th align="left">from</th>
<th align="left">to</th>
<th align="right">weight</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Acting</td>
<td align="left">Player Interaction</td>
<td align="right">0.760</td>
</tr>
<tr class="even">
<td align="left">Acting</td>
<td align="left">Movement</td>
<td align="right">0.250</td>
</tr>
<tr class="odd">
<td align="left">Acting</td>
<td align="left">Action Selection</td>
<td align="right">0.070</td>
</tr>
<tr class="even">
<td align="left">Acting</td>
<td align="left">Hidden Information</td>
<td align="right">0.045</td>
</tr>
<tr class="odd">
<td align="left">Acting</td>
<td align="left">Acting</td>
<td align="right">0.075</td>
</tr>
<tr class="even">
<td align="left">Acting</td>
<td align="left">Game Format</td>
<td align="right">0.015</td>
</tr>
</tbody>
</table>
<pre class="r"><code>mechanic_network &lt;- igraph::graph_from_data_frame(mech_cooccur_df,
                                                  directed = F) %&gt;% 
  igraph::simplify(., remove.multiple = T) ## consolidate edges

plot(mechanic_network,
     edge.width = E(mechanic_network)$weight,
     vertex.shape = &quot;none&quot;,
     edge.color = &quot;gray60&quot;,
     vertex.label.font = 2, vertex.label.color = &quot;gray20&quot;,
     vertex.label.cex = 1,
     layout = layout_in_circle, main = &quot;Mechanic Network&quot;)</code></pre>
<p><img src="/post/2018-05-30-sad-plot-3_files/figure-html/unnamed-chunk-9-1.png" width="672" /></p>
</div>
</div>
<div id="type" class="section level2">
<h2>Type</h2>
<p>This visualization is presented as an undirected graph, sometimes called a “network graph”.</p>
</div>
<div id="data" class="section level2">
<h2>Data</h2>
<p>This dataset comes from <a href="https://boardgamegeek.com/">BoardGameGeek</a>, and is a co-occurrence matrix for the <a href="https://boardgamegeek.com/browse/boardgamemechanic">mechanics</a> from the top 10,000 highest-rated games in the database.</p>
</div>
<div id="audience" class="section level2">
<h2>Audience</h2>
<p>I am presenting this data to individuals familiar with modern board games, and especially those who are interested in ludology.</p>
</div>
<div id="what-am-i-trying-to-show" class="section level2">
<h2>What am I trying to show?</h2>
<p>The mechanics (shown in the first graph) were later grouped into general categories, thus I want to illustrate how frequently these general categories of game mechanics meet. Co-occurrence within a category was omitted (e.g. prior knowledge says that card mechanics breed more card mechanics, etc.), so the inter-group relationship is exclusively highlighted.</p>
</div>
<div id="how-to-read" class="section level2">
<h2>How to read</h2>
<p>A newbie should see that the different categories are arranged in a polygon, and that the thickness of the edges connecting the vertices convey the strength/frequency of the relationship. Because there are no true numbers presented, this figure is to be interpreted somewhat loosely, not ascribing too much value to the implicit numbers (not) presented.</p>
</div>
<div id="presentation-tips" class="section level2">
<h2>Presentation Tips</h2>
<p>Before diving into the graph, I would brief my audience on some of the specific game mechanics that went in to each category, and explain that we’re exclusively addressing inter-group relationships. Then, I would point out interesting connections! For example, it’s curious how Player Interaction is so heavily tied to Movement and Card mechanics, but not much to Economics; or that games with Auction mechanics feature Map elements more frequently than Cards or Economics.</p>
</div>
<div id="variations" class="section level2">
<h2>Variations</h2>
<p>Another way to present this data is a heatmap, but because all our values are proportions in the 0-1 range (unlike correlations, for instance), the undirected graph is preferred. Additionally, we’re not trying to convey true values to our audience, just illustrate trends, and other graph types really fail without that level of transparency.</p>
</div>
<div id="methods" class="section level2">
<h2>Methods</h2>
<p>This graph was created using the <code>igraph</code> package in R, and data was collected from the BoardGameGeek API using a Python module that I wrote.</p>
</div>
