---
title: Xaringan Final Project
author: Ryan Opel
date: 2018-06-16
slug: xaringan-final-project
categories: []
tags: []
---



<p>Slides for my final project <a href="../../slides/opel-final-project.html">can be found here.</a></p>
